argocd:
  enabled: true
  targetRevision: HEAD
  extraValueFiles:
    - staging-values.yaml

events:
  enabled: false
  extraValueFiles:
    - staging-values.yaml

groups:
  enabled: true
  targetRevision: HEAD

kyverno:
  enabled: true
  valuesObject:
    admissionController:
      replicas: 1
      container:
        resources:
          limits:
            cpu: 1
            memory: 8Gi
          requests:
            cpu: 100m
            memory: 1Gi
    backgroundController:
      extraArgs:
        genWorkers: 10
      replicas: 1
      resources:
        limits:
          cpu: 1
          memory: 8Gi
        requests:
          cpu: 100m
          memory: 4Gi

sessionspaces:
  enabled: true
  targetRevision: HEAD
  extraValueFiles:
    - staging-values.yaml

sealedsecrets:
  enabled: true
  valuesObject:
    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi

workflows:
  enabled: true
  targetRevision: HEAD
  extraValueFiles:
    - staging-values.yaml

graphProxy:
  enabled: true
  targetRevision: HEAD
  extraValueFiles:
    - staging-values.yaml

dashboard:
  enabled: true
  targetRevision: HEAD
  extraValueFiles:
    - staging-values.yaml

otel:
  enabled: true
  targetRevision: HEAD
  extraValuesFiles: []
  valuesObject: {}

kueue:
  enabled: true
  targetRevision: HEAD
  extraValuesFiles: []
  valuesObject: {}
