apiVersion: v2
name: workflows-cluster
description: A virtual cluster for Data Analysis workflows
type: application

version: 0.8.2

dependencies:
  - name: vcluster
    repository: https://charts.loft.sh
    version: 0.20.0
