apiVersion: v2
name: workflows
description: Data Analysis workflow orchestration
type: application

version: 0.7.6

dependencies:
  - name: argo-workflows
    repository: https://argoproj.github.io/argo-helm
    version: 0.41.4
    condition: argo-workflows.enabled
  - name: postgresql-ha
    repository: https://charts.bitnami.com/bitnami
    version: 14.0.12
    condition: postgresql-ha.enabled
