VITE_KEYCLOAK_DISABLED=true
VITE_KEYCLOAK_URL=mock://local
VITE_KEYCLOAK_REALM=local
VITE_KEYCLOAK_CLIENT=workflows-dashboard
VITE_KEYCLOAK_SCOPE=openid profile posix-uid email
VITE_GRAPH_URL=http://localhost:8081/graphql
VITE_GRAPH_WS_URL=ws://localhost:8081/graphql/ws
VITE_ENABLE_MOCKING=false
