cluster: pollux

grafana:
  ingress:
    enabled: true
    path: "/"
    hosts:
      - grafana.staging.workflows.diamond.ac.uk
    tls:
      - hosts:
          - grafana.staging.workflows.diamond.ac.uk
        secretName: letsencrypt-grafana-staging-workflows-diamond-ac-uk
  grafana.ini:
    server:
      domain: grafana.staging.workflows.diamond.ac.uk
      root_url: https://grafana.staging.workflows.diamond.ac.uk
      serve_from_sub_path: false
    auth.generic_oauth:
      auth_url: https://identity-dev.diamond.ac.uk/realms/dls/protocol/openid-connect/auth
      token_url: https://identity-dev.diamond.ac.uk/realms/dls/protocol/openid-connect/token
      api_url: https://identity-dev.diamond.ac.uk/realms/dls/protocol/openid-connect/userinfo

thanos:
  existingObjstoreSecret: ""
  storegateway:
    enabled: false
  query:
    ingress:
      enabled: false
  queryFrontend:
    ingress:
      enabled: false
  receive:
    ingress:
      enabled: false
  compactor:
    enabled: false
    ingress:
      enabled: false

prometheus:
  alertmanager:
    ingress:
      enabled: false
    extraArgs: {}
  server:
    ingress:
      enabled: false
    baseURL: http://localhost:9090
  extraScrapeConfigs: |
    - job_name: 'otel-collector'
      scheme: http
      scrape_interval: 30s
      scrape_timeout: 30s
      static_configs:
        - targets:
          - "otel-collector-opentelemetry-collector-x-monitoring--b8f7839a3b:9090"
