cluster: pollux

grafana:
  ingress:
    enabled: true
    path: "/"
    hosts:
      - grafana.staging.workflows.diamond.ac.uk
    tls:
      - hosts:
          - grafana.staging.workflows.diamond.ac.uk
        secretName: letsencrypt-grafana-staging-workflows-diamond-ac-uk
  grafana.ini:
    server:
      domain: grafana.staging.workflows.diamond.ac.uk
      root_url: https://grafana.staging.workflows.diamond.ac.uk
      serve_from_sub_path: false
    auth.generic_oauth:
      enabled: true
      client_id: $__file{/etc/secrets/oauth_provider/client-id}
      client_secret: $__file{/etc/secrets/oauth_provider/client-secret}
      scopes: openid profile email offline_access
      auth_url: https://identity-dev.diamond.ac.uk/realms/dls/protocol/openid-connect/auth
      token_url: https://identity-dev.diamond.ac.uk/realms/dls/protocol/openid-connect/token
      api_url: https://identity-dev.diamond.ac.uk/realms/dls/protocol/openid-connect/userinfo
      use_pkce: true
      use_refresh_token: true
      email_attribute_path: id
      allow_assign_grafana_admin: true
      role_attribute_path: (email=='teo.ching@diamond.ac.uk' || email=='benedikt.daurer@diamond.ac.uk' || email=='thomas.thomas@diamond.ac.uk' || email=='vigneshwar.shanmugasundar@diamond.ac.uk' || email=='david.hadley@diamond.ac.uk' || email=='jacob.williamson@diamond.ac.uk' || email=='n.leung@diamond.ac.uk' || email=='james.gilbert@diamond.ac.uk' || email=='victoria.beilsten-edmands@diamond.ac.uk') && 'GrafanaAdmin' || 'Viewer'

thanos:
  existingObjstoreSecret: ""
  storegateway:
    enabled: false
  query:
    ingress:
      enabled: false
  queryFrontend:
    ingress:
      enabled: false
  receive:
    ingress:
      enabled: false
  compactor:
    enabled: false
    ingress:
      enabled: false

prometheus:
  alertmanager:
    ingress:
      enabled: false
    extraArgs: {}
  server:
    ingress:
      enabled: false
    baseURL: http://localhost:9090
  extraScrapeConfigs: |
    - job_name: 'otel-collector'
      scheme: http
      scrape_interval: 15s
      scrape_timeout: 15s
      static_configs:
        - targets:
          - "otel-collector-opentelemetry-collector-x-monitoring--b8f7839a3b:9090"
