cluster: argus

grafana:
  rbac:
    create: false
    pspEnabled: false
    pspUseAppArmor: false
  serviceAccount:
    create: true
  ingress:
    enabled: true
    path: "/"
    hosts:
      - grafana.workflows.diamond.ac.uk
    tls:
      - hosts:
          - grafana.workflows.diamond.ac.uk
        secretName: letsencrypt-grafana-workflows-diamond-ac-uk
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: "http://{{ .Release.Name }}-thanos-query-frontend:9090"
          isDefault: true
  extraSecretMounts:
    - name: oauth-provider
      secretName: grafana-oauth
      defaultMode: 0440
      mountPath: /etc/secrets/oauth_provider
      readOnly: true
  grafana.ini:
    server:
      domain: grafana.workflows.diamond.ac.uk
      root_url: https://grafana.workflows.diamond.ac.uk
      serve_from_sub_path: true
    auth.generic_oauth:
      enabled: true
      client_id: $__file{/etc/secrets/oauth_provider/client-id}
      client_secret: $__file{/etc/secrets/oauth_provider/client-secret}
      scopes: openid profile email offline_access
      auth_url: https://authn.diamond.ac.uk/realms/master/protocol/openid-connect/auth
      token_url: https://authn.diamond.ac.uk/realms/master/protocol/openid-connect/token
      api_url: https://authn.diamond.ac.uk/realms/master/protocol/openid-connect/userinfo
      use_pkce: true
      use_refresh_token: true
      email_attribute_path: id
      allow_assign_grafana_admin: true
      role_attribute_path: (email=='teo.ching@diamond.ac.uk' || email=='benedikt.daurer@diamond.ac.uk' || email=='thomas.thomas@diamond.ac.uk' || email=='vigneshwar.shanmugasundar@diamond.ac.uk' || email=='david.hadley@diamond.ac.uk' || email=='james.gilbert@diamond.ac.uk' || email=='victoria.beilsten-edmands@diamond.ac.uk') && 'GrafanaAdmin' || 'Viewer'
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  dashboardsConfigMaps:
    default: grafana-dashboards

thanos:
  image:
    repository: bitnamilegacy/thanos
  existingObjstoreSecret: '{{ include "common.names.fullname" . }}-s3'
  serviceAccount:
    create: true
  query:
    enabled: true
    ingress:
      enabled: true
      pathType: Prefix
      hostname: thanos-query.workflows.diamond.ac.uk
      extraTls:
        - hosts:
            - thanos-query.workflows.diamond.ac.uk
          secretName: letsencrypt-thanos-query-workflows-diamond-ac-uk
    persistence:
      enabled: false
    resources:
      limits:
        cpu: '1'
        memory: 4Gi
    networkPolicy:
      enabled: false
  queryFrontend:
    ingress:
      enabled: false
    resources:
      limits:
        cpu: '1'
        memory: 4Gi
    networkPolicy:
      enabled: false
  storegateway:
    enabled: true
    persistence:
      enabled: false
    resources:
      limits:
        cpu: '1'
        memory: 4Gi
    networkPolicy:
      enabled: false
  receive:
    enabled: true
    tsdbRetention: 1d
    persistence:
      enabled: false
    service:
      type: LoadBalancer
    ingress:
      enabled: false
    resources:
      requests:
        cpu: '2'
        memory: 32Gi
      limits:
        cpu: '4'
        memory: 64Gi
    networkPolicy:
      enabled: false
  compactor:
    enabled: true
    replicaCount: 1
    retentionResolutionRaw: 30d
    retentionResolution5m: 30d
    retentionResolution1h: 1y
    consistencyDelay: 30m
    autoscaling:
      enabled: false
    persistence:
      enabled: false
    resources:
      requests:
        cpu: '1'
        memory: 16Gi
        # NOTE: ephemeral-storage is limited in size
        # we may need to migrate to persistent storage
        # if this limit needs to be increased in future
        # see: https://jira.diamond.ac.uk/browse/AP-807
        ephemeral-storage: 8Gi
      limits:
        cpu: '2'
        memory: 16Gi
        ephemeral-storage: 16Gi
    networkPolicy:
      enabled: false

prometheus:
  kube-state-metrics:
    enabled: false
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false
  podSecurityPolicy:
    enabled: false
  rbac:
    create: false
  alertmanager:
    serviceAccount:
      create: true
      annotations: {}
    ingress:
      enabled: true
      hosts:
        - host: alertmanager.workflows.diamond.ac.uk
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - alertmanager.workflows.diamond.ac.uk
          secretName: letsencrypt-alertmanager-workflows-diamond-ac-uk
    resources:
      limits:
        cpu: 250m
        memory: 2Gi
    extraArgs:
      web.external-url: https://alertmanager.workflows.diamond.ac.uk
    configmapReload:
      enabled: true
      resources:
        limits:
          cpu: 250m
          memory: 400Mi
  configmapReload:
    prometheus:
      resources:
        limits:
          cpu: 250m
          memory: 400Mi
  server:
    baseURL: https://prometheus.workflows.diamond.ac.uk
    remoteWrite:
      - url: "http://{{ .Release.Name }}-thanos-receive.{{ .Release.Namespace }}.svc.cluster.local:19291/api/v1/receive"
    resources:
      requests:
        cpu: '2'
        memory: 32Gi
      limits:
        cpu: '4'
        memory: 64Gi
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - prometheus
            topologyKey: kubernetes.io/hostname
    ingress:
      enabled: true
      hosts:
        - prometheus.workflows.diamond.ac.uk
      path: /
      tls:
        - hosts:
            - prometheus.workflows.diamond.ac.uk
          secretName: letsencrypt-prometheus-workflows-diamond-ac-uk
    persistentVolume:
      enabled: false
    replicaCount: 1
    retention: 7d
    statefulSet:
      enabled: true
    alertmanagers:
      - kubernetes_sd_configs:
          - role: pod
            namespaces:
              own_namespace: true
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            regex: <namespace>
            action: keep
          - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_instance]
            regex: <release-name>
            action: keep
          - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
            regex: alertmanager
            action: keep
          - source_labels: [__meta_kubernetes_pod_container_port_number]
            regex: "9093"
            action: keep
    livenessProbe:
      httpGet:
        path: /-/healthy
        port: 9090
      initialDelaySeconds: 15
      periodSeconds: 10
    readinessProbe:
      httpGet:
        path: /-/ready
        port: 9090
      initialDelaySeconds: 15
      periodSeconds: 10
  serviceAccounts:
    prometheus-node-exporter:
      annotations: {}
      create: true
    pushgateway:
      annotations: {}
      create: true
    server:
      annotations: {}
      create: true
  serverFiles:
    prometheus.yml:
      scrape_configs:
        - job_name: prometheus
          static_configs:
            - targets:
                - localhost:9090
  extraScrapeConfigs: |
    - job_name: 'otel-collector'
      scheme: https
      scrape_interval: 30s
      scrape_timeout: 25s
      static_configs:
        - targets:
          - "otelcollector.workflows.diamond.ac.uk"
