{{- if .Values.events.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: events
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    namespace: events
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    helm:
      valueFiles:
      - values.yaml
      {{- if .Values.dev.enabled }}
      - dev-values.yaml
      {{- end }}
    path: charts/events
    repoURL: https://github.com/DiamondLightSource/workflows.git
    targetRevision: {{ .Values.dev.target }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
{{- end }}
