{{- if .Values.sessionspaces.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sessionspaces
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    namespace: kube-system
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    helm:
      valueFiles:
      - values.yaml
    path: charts/sessionspaces
    repoURL: https://github.com/DiamondLightSource/workflows.git
    targetRevision: {{ .Values.dev.target }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
{{- end }}
