{{- if .Values.workflows.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workflows
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    namespace: workflows
    server: {{ .Values.spec.destination.server }}
  project: default
  source:
    helm:
      valueFiles:
      - values.yaml
      {{- if.Values.dev.enabled }}
      - dev-values.yaml
      {{- end }}
    path: charts/workflows
    repoURL: https://github.com/DiamondLightSource/workflows.git
    targetRevision: {{ .Values.workflows.targetRevision }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
{{- end }}
