[package]
name = "graph-proxy"
version = "0.1.0"
edition = "2021"
exclude = ["test-resources/"]
license-file = "../../LICENSE"

[dependencies]
anyhow = { workspace = true }
argo-workflows-openapi = { path = "../argo-workflows-openapi" }
async-graphql = { version = "7.0.13", features = ["chrono", "url"] }
async-graphql-axum = { version = "7.0.13" }
axum = { version = "0.8.1" }
axum-extra = { version = "0.10.0", features = ["typed-header"] }
chrono = { workspace = true }
clap = { workspace = true }
derive_more = { workspace = true }
dotenvy = { workspace = true }
lazy_static = { version = "1.5.0" }
mime_guess = "2.0.5"
regex = "1.11.1"
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
telemetry = { path = "../telemetry" }
tokio = { workspace = true }
tower-http = { version = "0.6.2", features = ["cors"] }
tracing = { workspace = true }
url = { workspace = true }

[dev-dependencies]
mockito = "1.6.1"

[build-dependencies]
built = { workspace = true }
