{{- if eq .Values.cluster "argus" }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argo-server-sso
  namespace: workflows
spec:
  encryptedData:
    secret: AgAMgSumwTYGdBbHj0meBBQ4Se14iz16cI+rcx6/2YvxOSP61N7MiU+EgkYA+ZRb6pAQrxNG9DMphEn0iiwoJ/7jgqptdNcA+fbAB69pY+lT6GSBSQApQS8YAvc7r79A8R3mo/SzOJOVQfoWBgGc92+7rQYvNa6iTRoaQnWrDgLGbo/fLhzsNSbkv8wKMH746T4DV692lMy+10N3cTU3YjAhfoRfK4JdTAKup7Yi5G/Nhf3qeHt+MHcnTJtzWsvDZ6lJWjxf7z25p3pxvKocXVIE+VS1SetgDpulJVY7CFzVL//6+FtqGqxnaxxnpESlX9WlLtSmwUIn3WAi/eIRu5qBXbuZqLKajWQFTTFr8BTruj6DFcQ9LSDapwj+xB6oxcby17a8YEQetFJoDpJbG3z7VtKLFwnsfsf/nEztxcgcdgKwEi2qM/4PrpDFsv94gdSzxfNqRTf42V5NXVRSChWDDIYLvj+wLl4EzQ41dqgABgaTR0bxQlLUXH2St90zkbQTi2IjvAM1to/C2eBexL3lwAkl6dvE0h/ti8u4QWeeVGDzdw8ZigEDdouoql/MwZJlKoaB4ANrnMhz9iJOWUypRi+PzrimB2lWay6SfhV/Gg4mamXpBM9zqwqXEmRUlPH2tM5o7WDw1/MfZJjXyORspgsRb4Bor8Fr2s96rZrN86lwvoDx6UEPp42jpfKSXMB46SYZbsA7VXh8b5VW/ilzxmiJ/biWod7ykiwyRal1zw==
  template:
    metadata:
      name: argo-server-sso
      namespace: workflows
    type: Opaque
{{- else if eq .Values.cluster "pollux" }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argo-server-sso
  namespace: workflows
spec:
  encryptedData:
    secret: AgCaf5x+5MNmis2Q6oGEFZdEmG86xz9ikbtDAsdv5gfml4Wsv+va8Vy92+jcNsRAqjfixmjiEKbHr4eESelHmbHdzefrRaP5MzlnCygilLiFd5pGDlzXQaHjnBW1ItfpG3fCWg1X95FhpmcFnYObBWlz8LhFqEc2W4l+E1xDn1MOcoAqnnOUSv3K0UIir6io0/K/tcS9LXL0q32UIkwLb/P6a8NiqkbaY8+Tgv+CXL0c00T3tLqUggCDty6SbyOTidIomSGlXBUmz0TTClAjUFqZc4coi2PSmLNkoRbxaTBJXrFa21SOTKIcqqfEK5YK0QTAwWV7qD/LUmJ2QC0v7nOCqPJLQXDb9YK08D8TXABCcoYCwUcQvilT28eiFx8okLflL6VktxBPqiH78U6HznvMcilFW3ELY/vCEcj3S3WpMkTvh9AE0fPYmKtAJKVXv0977dJ0OQ618uzhXyagqkD/U4XBEcw9cly4++P0qN0hntCDdvswgDj/hqEWqKIqwYFbPJ5PM9bxVPAFTpb0azB4Gr8N+/MhdrhHLLNuw+lvPMPT+FPHiJwPKmEtsTV5XsBFr6hk/ypswmoBc+MibBTOuPbY6L+YIWRbGZk14lq3UzZiBVhFgQme6WhpFu6HgWL71+UTLDUU+DcwCrTXOBfCNqUYhLgaxAGfH9uuF0OjzN6QouyLOupvoq/xoHd3mc9ItwJiGTxRWvjJ+h47m2R4tx0Yv0xCqfpght6QXe7LCA==
  template:
    metadata:
      name: argo-server-sso
      namespace: workflows
{{ else }}
{{- end }}

