{{- if eq .Values.cluster "argus" }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argo-server-sso
  namespace: workflows
spec:
  encryptedData:
    secret: AgB+jb3d9qdYgizLHYyn+w7ZmE3u6gDuQ7bHjUGdVqFQpRDA03KAF5Sy92sXxjbcNBIRR+nQkJ/j+lDLvK7SIhC/HxQYB0GsqGxk6Ldc36C0AAqeGSqqCB4caqdLsasetGYyPKbcHxIkT9ENpgubEk2ZG5cjsojVKO7Tr/k/X/Dt4KQJVsxBOPy7+MTvZQ6Dhpjqq186fbFuMkzOGXS14ReAhcdE5UX9V3PpkNgQxwC4iwcH6WuvehMOYwvRa4Dup/uji6BF+QXf5KNBaYkobpB4bPGehFJM+uaWA4sCox98hJihxIXxfJMWE1hE6jwaCOS3E1QMadPSDE2Ikr9HwbBFGRi3imKQFGwmE3jVv/7m7/qTtYwi5NqSSMF11xMuDoF7SafMu3bhdbyRxkNzHbEr/BJw79pd2YEcKBS7b+eeMhCYccoiF+r7HLytazWrR9AoqMoTV2VehvXfZB92QYcQGShF6BI65zcJu/ZlNdSwafO3sHqIQYoHo+kCAxBSjemBXnVjUpQfpbzydIG40EIOOzXNDawIs7Q8mrOG3el3tHd/9s+EWup++6ma/qx5VHOnx434kFabq8PZYEsAQZV+KXHNbrjSRD+vrt393b8dQuRfVpKCtzWMroXI4nMzUc9wWYrOawX/tq/4AZOpdPp1ih3ByI9BZ2Eki67bR90bR0leTeXDhmN46LkJtwIbQjwHzjduQ8r+/+DOm8yMMsO9v7GbatnFm6c401++YDfXDA==
  template:
    metadata:
      name: argo-server-sso
      namespace: workflows
    type: Opaque
{{- else if eq .Values.cluster "pollux" }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argo-server-sso
  namespace: workflows
spec:
  encryptedData:
    secret: AgCaf5x+5MNmis2Q6oGEFZdEmG86xz9ikbtDAsdv5gfml4Wsv+va8Vy92+jcNsRAqjfixmjiEKbHr4eESelHmbHdzefrRaP5MzlnCygilLiFd5pGDlzXQaHjnBW1ItfpG3fCWg1X95FhpmcFnYObBWlz8LhFqEc2W4l+E1xDn1MOcoAqnnOUSv3K0UIir6io0/K/tcS9LXL0q32UIkwLb/P6a8NiqkbaY8+Tgv+CXL0c00T3tLqUggCDty6SbyOTidIomSGlXBUmz0TTClAjUFqZc4coi2PSmLNkoRbxaTBJXrFa21SOTKIcqqfEK5YK0QTAwWV7qD/LUmJ2QC0v7nOCqPJLQXDb9YK08D8TXABCcoYCwUcQvilT28eiFx8okLflL6VktxBPqiH78U6HznvMcilFW3ELY/vCEcj3S3WpMkTvh9AE0fPYmKtAJKVXv0977dJ0OQ618uzhXyagqkD/U4XBEcw9cly4++P0qN0hntCDdvswgDj/hqEWqKIqwYFbPJ5PM9bxVPAFTpb0azB4Gr8N+/MhdrhHLLNuw+lvPMPT+FPHiJwPKmEtsTV5XsBFr6hk/ypswmoBc+MibBTOuPbY6L+YIWRbGZk14lq3UzZiBVhFgQme6WhpFu6HgWL71+UTLDUU+DcwCrTXOBfCNqUYhLgaxAGfH9uuF0OjzN6QouyLOupvoq/xoHd3mc9ItwJiGTxRWvjJ+h47m2R4tx0Yv0xCqfpght6QXe7LCA==
  template:
    metadata:
      name: argo-server-sso
      namespace: workflows
{{ else }}
{{- end }}

