apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argo-workflow
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "patch"]
- apiGroups: [""]
  resources: ["pods/logs"]
  verbs: ["get", "watch"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create"]
- apiGroups: ["argoproj.io"]
  resources: [
    "workflowtaskresults",
    ]
  verbs: ["create","patch"] 
- apiGroups: ["argoproj.io"]
  resources: [
    "workflowtasksets",
    "workflowartifactgctasks",
    ]
  verbs: ["list", "watch"] 
- apiGroups: ["argoproj.io"]
  resources: [
    "workflowtasksets/status",
    "workflowartifactgctasks/status",
    ]
  verbs: ["patch"] 
- apiGroups: ["kubeflow.org"]
  resources: ["mpijobs"]
  verbs: ["create", "get", "list", "watch", "update", "delete"]
- apiGroups: ["kubeflow.org"]
  resources: ["mpijobs/status"]
  verbs: ["get", "watch"]
