apiVersion: v1
kind: ServiceAccount
metadata:
  name: default-user
  namespace: {{ .Release.Namespace }}
  annotations:
    workflows.argoproj.io/rbac-rule: "true"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: default-user
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - eventsources
      - sensors
      - workflows
      - workfloweventbindings
      - workflowtemplates
      - clusterworkflowtemplates
      - cronworkflows
      - workflowtaskresults
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: default-user
  namespace: {{ .Release.Namespace }}
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: default-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: default-user
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: default-user.service-account-token
  namespace: {{ .Release.Namespace }}
  annotations:
    kubernetes.io/service-account.name: default-user

