apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kyverno:generate-resources
rules:
- apiGroups:
    - ""
  resources:
    - serviceaccounts
  verbs:
    - create
    - update
    - delete
- apiGroups:
    - "rbac.authorization.k8s.io"
  resources:
    - rolebindings
  verbs:
    - get
    - list
    - create
    - update
    - patch
    - delete
- apiGroups:
    - ""
  resources:
    - configmaps
  verbs:
    - create
    - update
    - patch
    - delete
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - get
    - list
    - watch
    - create
    - update
    - delete
- apiGroups:
    - ""
  resources:
    - namespaces
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - "argoproj.io"
  resources:
   - workflows
  verbs:
    - get
