apiVersion: kyverno.io/v1
kind: Policy
metadata:
  name: generate-postgres-secrets
  namespace: workflows
spec:
  rules:
    - name: generate-postgres-application-passwords
      match:
        any:
          - resources:
              kinds: ["Secret"]
              names: ["postgres-argo-workflows-password", "postgres-auth-service-password"]
      generate:
        apiVersion: v1
        kind: Secret
        name: postgres-application-passwords
        namespace: workflows
        synchronize: true
        stringData:
          username: |
            {{`{{ join(',', [
              base64_decode(lookup('v1', 'Secret', 'workflows', 'postgres-argo-workflows-password').data.username || ''),
              base64_decode(lookup('v1', 'Secret', 'workflows', 'postgres-auth-service-password').data.username || '')
            ]) }}`}}
          password: |
            {{`{{ join(',', [
              base64_decode(lookup('v1', 'Secret', 'workflows', 'postgres-argo-workflows-password').data.password || ''),
              base64_decode(lookup('v1', 'Secret', 'workflows', 'postgres-auth-service-password').data.password || '')
            ]) }}`}}

    - name: generate-initdb-script
      match:
        any:
          - resources:
              kinds: ["Secret"]
              names: ["postgres-argo-workflows-password", "postgres-auth-service-password"]
      generate:
        apiVersion: v1
        kind: Secret
        name: postgres-initdb-script
        namespace: workflows
        type: Opaque
        synchronize: true
        stringData:
          init.sql: |
            {{`{{ join('', [
              'CREATE USER argo_workflows WITH PASSWORD \'', 
              base64_decode(lookup('v1','Secret','workflows','postgres-argo-workflows-password').data.password || ''), 
              '\'; ',
              'CREATE DATABASE argo_workflows OWNER argo_workflows; ',
              'CREATE USER auth_user WITH PASSWORD \'', 
              base64_decode(lookup('v1','Secret','workflows','postgres-auth-service-password').data.password || ''), 
              '\'; ',
              'CREATE DATABASE auth_service OWNER auth_user;'
            ]) }}`}}