apiVersion: v1
kind: Secret
metadata:
  name: postgres-application-passwords
data:
  usernames: {{ print "argo_workflows,auth_user" | b64enc }}
  passwords: {{ print (printf "%s,%s" (include "workflows.argoWorkflowsPostgresPassword" .) (include "workflows.authServicePostgresPassword" .)) | b64enc }}

