apiVersion: kyverno.io/v1
kind: Policy
metadata:
  name: generate-postgres-secrets
  namespace: {{ .Release.Namespace }}
spec:
  rules:
    - name: generate-postgres-application-passwords
      match:
        any:
          - resources:
              kinds: ["Secret"]
              names:
                - postgres-argo-workflows-password
                - postgres-auth-service-password
      context:
        - name: argoSecret
          apiCall:
            urlPath: /api/v1/namespaces/{{ .Release.Namespace }}/secrets/postgres-argo-workflows-password
        - name: authSecret
          apiCall:
            urlPath: "/api/v1/namespaces/{{ .Release.Namespace }}/secrets/postgres-auth-service-password"
      generate:
        apiVersion: v1
        kind: Secret
        name: postgres-application-passwords
        namespace: {{ .Release.Namespace }}
        synchronize: true
        generateExisting: true
        data:
          type: Opaque
          stringData:
            usernames: "{{`{{ join(',', [
              base64_decode(argoSecret.data.username || ''),
              base64_decode(authSecret.data.username || '')
            ]) }}`}}"
            passwords: "{{`{{ join(',', [
              base64_decode(argoSecret.data.password || ''),
              base64_decode(authSecret.data.password || '')
            ]) }}`}}"

    - name: generate-initdb-script
      match:
        any:
          - resources:
              kinds: ["Secret"]
              names:
                - postgres-argo-workflows-password
                - postgres-auth-service-password
      context:
        - name: argoSecret
          apiCall:
            urlPath: "/api/v1/namespaces/{{ .Release.Namespace }}/secrets/postgres-argo-workflows-password"
        - name: authSecret
          apiCall:
            urlPath: "/api/v1/namespaces/{{ .Release.Namespace }}/secrets/postgres-auth-service-password"
      generate:
        apiVersion: v1
        kind: Secret
        name: postgres-initdb-script
        namespace: {{ .Release.Namespace }}
        synchronize: true
        generateExisting: true
        data:
          kind: Secret
          type: Opaque
          data:
            init.sql: |
              {{`{{ base64_encode(join('', [
                'CREATE USER argo_workflows WITH PASSWORD \'', 
                base64_decode(argoSecret.data.password || ''), 
                '\'; ',
                'CREATE DATABASE argo_workflows OWNER argo_workflows; ',
                'CREATE USER auth_user WITH PASSWORD \'', 
                base64_decode(authSecret.data.password || ''), 
                '\'; ',
                'CREATE DATABASE auth_service OWNER auth_user;'
              ])) }}`}}
