apiVersion: v1
kind: Secret
metadata:
  name: postgres-application-passwords
data:
  usernames: {{ print "argo_workflows,auth_user" | b64enc }}
  passwords: {{ print (printf "%s,%s" (include "workflows.argoWorkflowsPostgresPassword" .) (include "workflows.authServicePostgresPassword" .)) | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-argo-workflows-password
data:
  username: {{ print "argo_workflows" | b64enc }}
  password: {{ print (printf "%s" (include "workflows.argoWorkflowsPostgresPassword" .) | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-auth-service-password
data:
  username: {{ print "auth_user" | b64enc }}
  password: {{ print (printf "%s" (include "workflows.authServicePostgresPassword" .) | b64enc }}
