apiVersion: v1
kind: Secret
metadata:
  name: postgres-initdb-script
data:
  init.sql: |
    {{- printf "
      CREATE USER argo_workflows WITH PASSWORD '%s';
      CREATE DATABASE argo_workflows OWNER argo_workflows;

      CREATE USER auth_service WITH PASSWORD '%s';
      CREATE DATABASE auth_service OWNER auth_user;
      " 
      (include "workflows.argoWorkflowsPostgresPassword" .) 
      (include "workflows.authServicePostgresPassword" .)
      | b64enc }}

