apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: visit-member
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - get
      - list
      - watch
      - delete
  - apiGroups:
      - argoproj.io
    resources:
      - eventsources
      - sensors
      - workflows
      - workfloweventbindings
      - workflowtemplates
      - clusterworkflowtemplates
      - cronworkflows
      - workflowtaskresults
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - create
      - update
      - patch
