argo-cd:
  configs:
    cm:
      url: https://argo-cd.staging.workflows.diamond.ac.uk
      oidc.config: |
        name: Keycloak
        issuer: https://identity-dev.diamond.ac.uk/realms/dls
        clientID: workflows-argocd-staging
        clientSecret: $argocd-oauth:oidc.keycloak.clientSecret
        requestedScopes:
          - openid
          - profile
          - email

ingress:
  enabled: true
  host: argo-cd.staging.workflows.diamond.ac.uk

