argo-cd:
  enabled: true
  configs:
    cm:
      admin.enabled: "false"
      url: https://argo-cd.workflows.diamond.ac.uk
      oidc.config: |
        name: Keycloak
        issuer: https://identity.diamond.ac.uk/realms/dls
        clientID: workflows-argocd
        clientSecret: $argocd-oauth:oidc.keycloak.clientSecret
        requestedScopes:
          - openid
          - profile
          - email
    rbac:
      create: true
      policy.default: role:readonly
      scopes: "[email, profile, openid]"
      policy.csv: |
        p, role:admin, applications, *, */*, allow
        p, role:admin, clusters, *, *, allow
        p, role:admin, repositories, *, *, allow
        p, role:admin, projects, *, *, allow
        p, role:admin, exec, create, */*, allow
        p, role:admin, logs, get, */*, allow
        p, role:admin, settings, *, *, allow
        g, admin, role:admin
        g, benedikt.daurer@diamond.ac.uk, role:admin
        g, thomas.thomas@diamond.ac.uk, role:admin
        g, vigneshwar.shanmugasundar@diamond.ac.uk, role:admin
        g, david.hadley@diamond.ac.uk, role:admin
        g, james.gilbert@diamond.ac.uk, role:admin
        g, victoria.beilsten-edmands@diamond.ac.uk, role:admin
        g, teo.ching@diamond.ac.uk, role:admin

  repoServer:
    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8084"
  controller:
    resources:
      limits:
        cpu: 3
        memory: 6Gi
      requests:
        cpu: 2
        memory: 4Gi
    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8082"
  applicationSet:
    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8080"

ingress:
  enabled: true
  host: argo-cd.workflows.diamond.ac.uk
  secretName: argo-cd-tls-cert
