opentelemetry-collector:
  enabled: true
  image:
    repository: otel/opentelemetry-collector-contrib
  mode: deployment
  presets:
    kubernetesAttributes:
      enabled: true
  ports:
    prometheus:
      enabled: true
      containerPort: 9090
      servicePort: 9090
      protocol: TCP
    jaeger-compact:
      enabled: false
    jaeger-thrift:
      enabled: false
    jaeger-grpc:
      enabled: false
    zipkin:
      enabled: false
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingressClassName: nginx
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - host: otelcollector.workflows.diamond.ac.uk
        paths:
          - path: '/'
            pathType: Prefix
            port: 9090
    tls:
      - secretName: otelcollector-tls-cert
        hosts:
          - otelcollector.workflows.diamond.ac.uk
  resources:
    requests:
      cpu: '8'
      memory: 24Gi
    limits:
      cpu: '12'
      memory: 24Gi
  config:
    processors:
      groupbyattrs:
        keys:
          - k8s.namespace.name
      batch:
        send_batch_size: 512
      k8sattributes:
        auth_type: 'serviceAccount'
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.pod.name
            - k8s.pod.start_time
            - k8s.pod.uid
            - k8s.deployment.name
            - k8s.node.name
          labels:
            - tag_name: l1
              key: label1
              from: namespace
        pod_association:
          - sources:
              - from: resource_attribute
                name: k8s.pod.ip
          - sources:
              - from: resource_attribute
                name: k8s.pod.uid
          - sources:
              - from: connection
    receivers:
      prometheus:
        config:
          scrape_configs:
            - job_name: 'kubernetes-pods'
              # scheme: https
              # tls_config:
              #   insecure_skip_verify: true
              kubernetes_sd_configs:
                - role: pod
              relabel_configs:
                - source_labels: [__meta_kubernetes_namespace]
                  regex: kyverno
                  action: drop
                - source_labels: [__meta_kubernetes_namespace]
                  regex: monitoring
                  action: drop
                - source_labels: [__meta_kubernetes_namespace]
                  regex: kube-system
                  action: drop
                - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
                  action: keep
                  regex: "true"
                - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scheme]
                  action: replace
                  regex: (https?)
                  target_label: __scheme__
                - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
                  action: replace
                  target_label: __metrics_path__
                  regex: (.+)
                - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
                  action: replace
                  regex: ([^:]+)(?::\d+)?;(\d+)
                  replacement: $1:$2
                  target_label: __address__
                - action: labelmap
                  regex: __meta_kubernetes_pod_annotation_prometheus_io_param_(.+)
                  replacement: __param_$1
                - action: labelmap
                  regex: __meta_kubernetes_pod_label_(.+)
                - source_labels: [__meta_kubernetes_namespace]
                  action: replace
                  target_label: namespace
                - source_labels: [__meta_kubernetes_pod_name]
                  action: replace
                  target_label: pod
                - source_labels: [__meta_kubernetes_pod_phase]
                  regex: Pending|Succeeded|Failed|Completed
                  action: drop
            - job_name: 'kubelet-resource-metrics'
              scheme: https
              tls_config:
                insecure_skip_verify: true
              bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
              kubernetes_sd_configs:
                - role: node
              relabel_configs:
                - action: labelmap
                  regex: __meta_kubernetes_node_label_(.+)
                - target_label: __address__
                  replacement: kubernetes.default.svc:443
                - source_labels: [__meta_kubernetes_node_name]
                  regex: (.+)
                  target_label: __metrics_path__
                  replacement: /api/v1/nodes/$1/proxy/metrics/resource
                - source_labels: [__meta_kubernetes_node_name]
                  target_label: node
      k8s_cluster:
        collection_interval: 30s
        auth_type: serviceAccount
        resource_attributes:
          k8s.namespacee.name:
            enabled: true
        allocatable_types_to_report:
          - cpu
          - memory
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
            max_recv_msg_size_mib: 32
          http:
            endpoint: 0.0.0.0:4318
    exporters:
      debug:
        verbosity: detailed
      prometheus:
        endpoint: 0.0.0.0:9090
        resource_to_telemetry_conversion:
          enabled: true
      otlphttp:
        endpoint: "https://otel.tracing.diamond.ac.uk:4318"
        timeout: 30s
        retry_on_failure:
          enabled: true
          initial_interval: 5s
          max_interval: 30s
          max_elapsed_time: 5m
    service:
      pipelines:
        metrics:
          receivers:
            - prometheus
            - otlp
            - k8s_cluster
          processors:
            - k8sattributes
            - groupbyattrs
            - memory_limiter
            - batch
          exporters:
            - prometheus
        traces:
          receivers:
            - otlp
          processors:
            - memory_limiter
            - batch
            - k8sattributes
          exporters:
            - otlphttp
