image:
  registry: ghcr.io
  repository: diamondlightsource/workflows-graph-proxy
  tag: "jamesdoingstuff"
  digest: "sha256:f97b7bba8d769aef878a16c8b5a8e1068157abf9cc52cf90225ebb31f4769730"
  pullPolicy: IfNotPresent
  pullSecrets: []

argoServerUrl: https://argo-workflows.workflows.diamond.ac.uk
kubernetesApiUrl: https://kubernetes.default
prefixPath: /graphql

deployment:
  replicas: 1
  annotations: []
  podAnnotations: []
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  nodeSelector: {}
  affinity: {}
  tolerations: []

telemetry:
  level: Info
  metricsEndpoint: http://otel-collector-opentelemetry-collector.monitoring:4318/v1/metrics
  tracingEndpoint: http://otel-collector-opentelemetry-collector.monitoring:4318/v1/traces

s3:
  url: https://sci-nas-s3.diamond.ac.uk
  forcePathStyle: true
  bucket: k8s-workflows-test

cors:
  matchOrigins:
    - ^https:\/\/([a-zA-Z0-9\-]+\.)*diamond\.ac\.uk\/?
    - ^https?:\/\/localhost(:\d+)?\/?

service:
  create: true
  annotations: []
  type: ClusterIP
  port: 80

ingress:
  create: true
  className: nginx
  tls: []
  hosts:
    - host: workflows.diamond.ac.uk
      paths:
        - path: /graphql
          pathType: Exact
    - host: workflows.diamond.ac.uk
      paths:
        - path: /graphql/ws
          pathType: Exact

serviceAccount:
  create: true
  name: ""
  annotations: []
