name: Frontend Code

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Install Dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile

      - name: Download Supergraph Schema Artifact
        uses: actions/download-artifact@v6
        with:
          name: supergraph
          path: frontend/relay-workflows-lib

      - name: Compile Relay
        working-directory: frontend/relay-workflows-lib
        run: pnpm relay

      - name: Build TypeScript
        working-directory: frontend/
        run: pnpm run tsc

      - name: Lint TypeScript Code
        working-directory: frontend
        run: pnpm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Install Dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile

      - name: Download Supergraph Schema Artifact
        uses: actions/download-artifact@v6
        with:
          name: supergraph
          path: frontend/relay-workflows-lib

      - name: Compile Relay
        working-directory: frontend/relay-workflows-lib
        run: pnpm run relay

      - name: Test
        working-directory: frontend
        run: pnpm run test
