name: Graph Proxy Container

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Generate Image Name
        run: echo IMAGE_REPOSITORY=ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]' | tr '[_]' '[\-]')-graph-proxy >> $GITHUB_ENV

      - name: Log in to GitHub Docker Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Version from Tag
        id: tags
        run: echo version=$(echo "${{ github.ref }}" | awk -F '[@v]' '{print $3}') >> $GITHUB_OUTPUT 

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ env.IMAGE_REPOSITORY }}
          tags: |
            type=raw,value=${{ steps.tags.outputs.version }},enable=${{ startsWith(github.ref, 'refs/tags/graph-proxy@') }}
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/graph-proxy@') }}
            type=raw,value=${{ github.ref_name }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Build Image
        uses: docker/build-push-action@v6.19.2
        with:
          build-args: ARGO_SERVER_SCHEMA_URL=https://raw.githubusercontent.com/argoproj/argo-workflows/main/api/jsonschema/schema.json
          context: backend
          file: backend/Dockerfile.graph-proxy
          target: deploy
          push: ${{ github.event_name == 'push' }}
          load: ${{ !(github.event_name == 'push' && startsWith(github.ref, 'refs/tags/graph-proxy@')) }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
