name: Helm Charts

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v4.0.0

      - name: Setup Chart Testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Install chart dependencies
        run: |
          helm repo add vcluster https://charts.loft.sh
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add oauth2-proxy https://oauth2-proxy.github.io/manifests
          helm repo add opentelemetry https://open-telemetry.github.io/opentelemetry-helm-charts
          helm repo add localstack https://localstack.github.io/helm-charts

      - name: Lint
        run: >
          ct
          lint
          --target-branch=${{ github.event.repository.default_branch }}
          --validate-maintainers=false
          --check-version-increment=true
