name: Telemetry Code

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          cache: false
          components: clippy,rustfmt

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2.8.2
        with:
          workspaces: backend/telemetry
          shared-key: backend/telemetry

      - name: Check Formatting
        working-directory: backend/telemetry
        run: >
          cargo fmt
          --check

      - name: Lint with Clippy
        working-directory: backend/telemetry
        run: >
          cargo clippy
          --all-targets
          --all-features
          --no-deps
          --
          --deny warnings

      - name: Check Dependencies with Cargo Deny
        uses: EmbarkStudios/cargo-deny-action@v2.0.14
        with:
          command: check licenses ban
          manifest-path: backend/Cargo.toml

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          cache: false
          components: rustfmt

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2.8.2
        with:
          workspaces: backend/telemetry
          shared-key: backend/telemetry

      - name: Run Tests
        working-directory: backend/telemetry
        run: >
          cargo test
          --all-targets
          --all-features
