name: Helm Charts

on:
  push:
  pull_request:

jobs:
  lint:
    # Deduplicate jobs from pull requests and branch pushes within the same repo.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v4.0.0

      - name: Setup Chart Testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Install chart dependencies
        run: |
          helm repo add vcluster https://charts.loft.sh
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Lint
        run: >
          ct
          lint
          --target-branch=${{ github.event.repository.default_branch }}
          --validate-maintainers=false

  build_publish:
    needs: [lint]
    # Deduplicate jobs from pull requests and branch pushes within the same repo.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        chart:
          - workflows
          - workflows-cluster
          - events
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4.1.7

      - name: Setup Helm
        uses: azure/setup-helm@v4.0.0

      - name: Install chart dependencies
        run: |
          helm repo add vcluster https://charts.loft.sh
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm dependency update
        working-directory: charts/${{ matrix.chart }}

      - name: Package Chart
        run: helm package charts/${{ matrix.chart }}

      - name: Generate Image Name
        run: echo IMAGE_REPOSITORY=oci://ghcr.io/$(echo "${{ github.repository }}-${{ matrix.chart }}" | tr '[:upper:]' '[:lower:]' | tr '[_]' '[\-]') >> $GITHUB_ENV

      - name: Log in to GitHub Docker Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Chart
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: helm push $(ls ${{ matrix.chart }}-*.tgz) ${{ env.IMAGE_REPOSITORY }}
